html {
    font-size: 100%;
}

body {
    font-family: 'Arial';
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

.navbar {
    background-color: #87cefa;
    padding: 3rem;
    border: 1px solid black;
    top: 0;
    left: 0;
}