<section ng-controller="HomeCtrl as home">

    <div class="navbar col-sm-3">
        <h3>{{home.title}}</h3>

        <br/>

        <!--List chat rooms-->
        <h4>Pick a damn room</h4>
        <h5 ng-click="home.setRoom(room)" ng-repeat="room in home.room">{{room.$value}}</h5>

        <br/>

        <!--Make a new chat room-->
        <div ng-controller='ModalCtrl as modal'>
            <button type="button" class="btn btn-default" ng-click="modal.open()">Make your own damn room</button>
        </div>

    </div>

    <div class='msg-container'>
        <h2>{{ currentRoom.$value }}</h2>
        <table class="table">
            <tr class="row" ng-repeat="message in messages">
                <!--Originally had a div inside my table. Fun fact- you can't do that-->
                <!--can't use $scope in view, it's implied when you call messages though-->
                <td class="username">
                    {{ message.username }}:
                    <br/> {{ message.content }}
                </td>
                <td class="sentAt">{{ message.sentAt }}</td>
                <!--Hasn't been defined yet-->
            </tr>

        </table>
    </div>

    <div class='msg-send'>
        <div>
            <form name="message" action="">
                <input name="usermsg" type="text" id="usermsg" size="63" />
                <input name="submitmsg" type="submit" id="submitmsg" value="Send" />
            </form>
        </div>
    </div>

</section>